.post_all{width:20%; margin-left:auto; margin-right:auto;
}
.new {width:20%; margin-left:auto; margin-right:auto;
}
.show {width:20%; margin-left:auto; margin-right:auto;
}
.post_show{

    background-color: transparent;
}

.category_show{width:20%; margin-left:auto; margin-right:auto;
}

    

